
* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  background: rgb(41, 41, 41);
  box-sizing: border-box;
}

:root {
  --primary-color: #be4e31;
  --secondary-color: #5cb182;
  --background-color: rgb(41, 41, 41);
  --text-color: #ebe9e9;
}

p {
  font-size: 20px;
  padding-top: 12px;
  color: var(--text-color);
}

.top h1 {
  font-size: 50px;
  padding: 12px;
  color: var(--primary-color);
  padding-top: 20px;
  text-align: center;
}

.overview {
  text-align: center;
}

.overview h2 {
  font-size: 45px;
  padding-top: 45px;
  padding-bottom: 45px;
  color: var(--secondary-color);
}

.overview h3 {
  font-size: 30px;
  padding-top: 15px;
  color: var(--secondary-color);
}

.project-pic0 {
  border: 5px solid var(--primary-color);
  border-radius: 25%;

}

.project-pic {
  border: 5px solid var(--primary-color);
  margin: 0px 15px 15px 0px;
  border-radius: 25%;
  
}

.project-pic1 {
  border: 5px solid var(--primary-color);

}

.approach {
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
}

.approach h2 {
  font-size: 45px;
  padding-top: 45px;
  padding-bottom: 45px;
  color: var(--secondary-color);
}

.approach h3 {
  font-size: 30px;
  padding-top: 40px;
  color: var(--secondary-color);
}

.modal {
  text-align: center;
}

.approach p {
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 20px;
  color: var(--text-color);
}

.takeaways {
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
}

.takeaways h2 {
  font-size: 45px;
  padding-top: 45px;
  padding-bottom: 45px;
  color: var(--secondary-color);
}

.takeaways h3 {
  font-size: 30px;
  padding-top: 40px;
  color: var(--secondary-color);
}

.workbutton {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 20px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
}

.workbutton:hover {
  color: white;
  background-color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
