/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  background: rgb(41, 41, 41);
}

html {
  scroll-behavior: smooth;
}
/* main colors */
:root {
  --primary-color: #be4e31;
  --secondary-color: #409c6a;
  --background-color: rgb(41, 41, 41);
  --text-color: #ebe9e9;
}

a:visited {
  background-color: inherit;
  color: var(--primary-color);
}

/* nav/menu bar css */
#header {
  background: rgb(41, 41, 41);
  padding: 20px 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.main-nav {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  text-align: right;
}

.main-nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 35px;
  padding: 0;
}

.main-nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 25px;
}

.main-nav ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--primary-color);
  display: block;
  margin: auto;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.main-nav ul li:hover::after {
  width: 100%;
}

/* home content css */

.header {
  min-height: 100vh;
  width: 100%;
  background: rgb(41, 41, 41);
  background-position: center;
  background-size: cover;
}

.intro {
  padding-top: 50px;
  padding-bottom: 200px;
}

.intro-text {
  text-align: center;
  padding-top: 80px;
  color: var(--text-color);
  font-size: 60px;
}

.profile__portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: auto;
  border-radius: 50%;
  border: 5px solid var(--primary-color);
}

.profile {
  padding-top: 300px;
  padding-bottom: 80px;
  margin: 0 auto;
}

/* home text animation */
.home-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home-text-wrapper .static-text {
  color: var(--text-color);
  font-size: 60px;
}

.wrapper .dynamic-text {
  margin-left: 15px;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
}

.dynamic-text li {
  list-style: none;
  color: var(--secondary-color);
  font-size: 60px;
  position: relative;
}

.dynamic-text li span {
  position: relative;
}

.dynamic-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(41, 41, 41);
  border-left: 2px solid var(--secondary-color);
  -webkit-animation: typing 3s steps(15) infinite;
  animation: typing 3s steps(15) infinite;
}

@-webkit-keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

/* about css */
.about {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.about p {
  font-size: 20px;
  line-height: 22px;
  padding-top: 25px;
  padding-bottom: 80px;
  color: var(--text-color);
}

.about h1 {
  font-size: 50px;
  padding-top: 12px;
  color: var(--text-color);
}

.about h2 {
  font-size: 35px;
  padding-top: 15px;
  color: var(--text-color);
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: var(--primary-color);
  background-color: transparent;
  border: 3px solid var(--primary-color);
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 30px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
}

.cta:hover {
  color: white;
  background-color: var(--primary-color);
}

.tidbits ul li {
  list-style: none;
  font-size: 30px;
  padding: 20px;
  color: var(--secondary-color);
}

@supports (display: grid) {
  .icon-grid {
    display: -ms-grid;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
  }
}

.icons-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--primary-color);
  padding: 45px;
  font-size: 70px;
}

.icons-wrapper .icon {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.icons-wrapper .icon .span {
  position: relative;
  height: 70px;
  width: 70px;
  z-index: 2;
}

.icons-wrapper .icon .span i {
  font-size: 25px;
  line-height: 60px;
}

.icons-wrapper .icon .tooltip {
  top: 0px;
  font-size: 20px;
  border-radius: 25px;
  padding: 10px 18px;
  text-align: center;
  background: var(--text-color);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icons-wrapper .icon:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  top: -70px;
}

/* work list css */

.work {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
  min-height: 100vh;
  width: 100%;
  margin: auto;
}

.work h1 {
  font-size: 50px;
  padding: 12px;
  color: var(--text-color);
}

.project-pic {
  border: 5px solid var(--primary-color);
}

@supports (display: grid) {
  .project-grid {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0;
    row-gap: 20px;
    padding-top: 20px;
  }
}

.project-grid h3 {
  color: var(--secondary-color);
  font-size: 30px;
  padding-bottom: 10px;
}

.project-grid p {
  color: var(--text-color);
  font-size: 20px;
  padding: 10px;
}

.project-item {
  color: var(--text-color);
}

@media all and (max-width: 500px) {
  .project-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .project-grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .project-grid {
    grid-gap: 10px;
  }
}
.project-item:last-child {
  grid-column: auto / auto;
  grid-row: auto / auto;
}

/* contact css */
.contact {
  margin: 100px auto;
  width: 80%;
  color: var(--text-color);
  text-align: center;
}

.contact h1 {
  font-size: 50px;
  padding: 12px;
  color: var(--text-color);
  padding-top: 200px;
}

.email-button {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;
  width: 100%;
  margin: auto;
}

.social-media img {
  height: 60px;
  width: 60px;
}
