* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  background: rgb(41, 41, 41);
}

/* main colors */
:root {
  --primary-color: #be4e31;
  --secondary-color: #409c6a;
  --background-color: rgb(41, 41, 41);
  --text-color: #ebe9e9;
}

a:visited {
  background-color: inherit;
  color: var(--primary-color);
}

/* main home page css */
.header {
  min-height: 100vh;
  width: 100%;
  background: rgb(41, 41, 41);
  background-position: center;
  background-size: cover;
  position: relative;
}

/* nav/menu bar css */
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--primary-color);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

/* home content css */

.intro-text {
  padding: 80px;
  text-align: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 60px;
}

.profile__portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: auto;
  border-radius: 50%;
  border: 5px solid var(--primary-color);
}

.profile {
  padding-top: 170px;
  margin: 0 auto;
}

/* home text animation */
.home-text-wrapper {
  display: flex;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}

.home-text-wrapper .static-text {
  color: var(--text-color);
  font-size: 60px;
}

.wrapper .dynamic-text {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-text li {
  list-style: none;
  color: var(--secondary-color);
  font-size: 60px;
  position: relative;
}

.dynamic-text li span {
  position: relative;
}

.dynamic-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(41, 41, 41);
  border-left: 2px solid var(--secondary-color);
  animation: typing 3s steps(15) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

/* about css */
.about {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.about p {
  font-size: 20px;
  line-height: 22px;
  padding-top: 25px;
  padding-bottom: 80px;
  color: var(--text-color);
}

.about h1 {
  font-size: 50px;
  padding: 12px;
  color: var(--text-color);
}

.about h2 {
  font-size: 35px;
  padding: 15px;
  color: var(--text-color);
}

.tidbits ul li {
  list-style: none;
  font-size: 30px;
  padding: 20px;
  color: var(--secondary-color);
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: "Fredoka", sans-serif;
  background-color: var(--primary-color);
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.icons {
  color: var(--primary-color);
  padding: 45px;
  font-size: 100px;
}

/* flower animation css */
#petals {
  animation: wheel 12s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

/* work list css */

.work {
  text-align: center;
  padding-top: 100px;
  min-height: 100vh;
  width: 100%;
  margin: auto;
}

.work h1 {
  font-size: 50px;
  padding: 12px;
  color: var(--text-color);
}

.project-row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.project-col {
  flex-basis: 31%;
  background: var(--secondary-color);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
